python-dotenv
mysqlclient
sqlalchemy
langchain
langchain_community
langchain-experimental
openai
google-generativeai
vertexai
sentence-transformers
transformers
torch
requests
selenium
beautifulsoup4
fastapi
uvicorn
pandas
numpy